<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Car Sharing Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://cdn.jsdelivr.net/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          th:href="@{css/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">


    <div class="jumbotron">
        <a href="/" th:href="@{'/'}"><h1 class="display-3">Carsharing Mockup App</h1></a>
        <p class="lead text-justify">Enhancing Business Process Mining with Distributed Tracing Data in a Microservice Architecture</p>
        <p>This frontend is intended for log data creation. A user (1 - 10) receives a session_ID for each session and
            can perform multiple activities. These activities trigger a variety of microservices in the background. When
            a new user is created, he or she gets a new session_ID assigned.
        </p>
        <p class="text-justify">The data model can be initialized by clicking on <span class="font-italic">Initialize datamodel</span>.
            The activity generation can be triggered manually through the <span class="font-italic">"Generate
            activities &amp; reload data model"</span> button. After a new activity log is created, a new entry is written in the reload_trigger_table that
            triggers a new data load in the process mining tool.</p>

        <p>
        <div class="row">
            <div class="col">
                <a th:href="@{'/newUser'}" class="code"><i class="fa fa-refresh" aria-hidden="false"></i> New User</a>
                <code class="code"><samp th:text="${session.person}"/></code>
            </div>
        </div>
        </p>
        <div class="row">
            <div class="col">
                <a th:href="@{'/newSession'}" class="code"><i class="fa fa-refresh" aria-hidden="false"></i> New
                    Session</a>
                <code class="code"><samp th:text="${session.sessionID}"/></code>
            </div>
        </div>
    </div>


    <p class="lead">
    <div class="row">
        <div class="col">
            <a th:href="@{'/getCars'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary  pull-left">List available cars</button>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{'/reserveCar'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary">Reserve car</button>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{'/bookCar'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary">Book car</button>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{'/openCar'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary">Unlock car</button>
            </a>
        </div>
            <div class="col">
            <a th:href="@{'/endRental'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary pull-right">End car rental</button>
            </a>
        </div>


</div>
    </p>
    <div class="row">
        <div class="col text-center">
            <a th:href="@{'/showBalance'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary pull-left">Show my balance</button>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{'/bookPackage'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary">Book package</button>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{'/showHistory'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary">Show driving history</button>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{'/reportIssue'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary">Report issue</button>
            </a>
        </div>
        <div class="col text-center">
            <a th:href="@{'/findRoute'+ '?sessionID=' + ${session.sessionID}}">
                <button type="submit" class="btn btn-primary pull-right">Find route</button>
            </a>
        </div>
    </div>

    <hr class="my-4"/>



    <div class="highlight ">
       <code th:text="${msg}" th:if="${msg} != null"></code>
    </div>

    <div class="my-3">
        <div class="row">
            <div class="col">
                <a th:href="@{'/generateActivities'}" class="btn btn-info pull-right" role="button">Generate activities
                    &amp;
                    reload data model</a>
            </div>
        </div>
    </div>


</div>

</body>
</html>