<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Car Sharing Application - Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://cdn.jsdelivr.net/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>

<body>


<div class="container">


    <div class="jumbotron">
        <h1 class="display-3">Carsharing Mockup App</h1>
        <p class="lead">This is the frontend for the car sharing app to simulate process steps for conducting process mining
            via distributed tracing log data.</p>
        <p>

        <a th:href="@{'/login'}"><span>Generate SessionID </span></a>
        <code>
            <samp th:text="${session.sessionID}"/>
        </code>

        <!--<a th:href="@{'/getCars'+ '?sessionID=' + ${session.sessionID}}"><span>Delete</span></a>-->

        </p>

        <p class="lead">
        <div class="row">
            <div class="col">
                <a th:href="@{'/getCars'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Search for available cars</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/reserveCar'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Reserve car</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/bookCar'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Book car</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/unlockCar'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Unlock car</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/endRental'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">End rental</button></a>
            </div>
        </div>
        </p>
        <div class="row">
            <div class="col">
                <a th:href="@{'/showBalance'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Show my balance</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/bookPackage'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Book package</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/showHistory'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Show history</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/reportIssue'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Report an issue</button></a>
            </div>
            <div class="col">
                <a th:href="@{'/findRoute'+ '?sessionID=' + ${session.sessionID}}"><button type="submit" class="btn btn-primary">Find a route</button></a>
            </div>
        </div>

        <hr class="my-4"/>


        <div class="highlight">
            <code th:text="${msg}" th:if="${msg} != null"></code>
        </div>


    </div>

</div>
</body>
</html>